{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HTML Qrcode Scannner</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="{% url 'root' %}" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'assets/img/logo.png' %}" alt="">
                  <span class="d-none d-lg-block">QR Code Scanner</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">
                  
                  <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

                  <script src="{% static 'js/html5-qrcode.min.js' %}"></script>
                  
                  <script>
                  function docReady(fn) {
                      // see if DOM is already available
                      if (document.readyState === "complete" || document.readyState === "interactive") {
                          // call on next available tick
                          setTimeout(fn, 1);
                      } else {
                          document.addEventListener("DOMContentLoaded", fn);
                      }
                  } 

                  docReady(function() {
                      var resultContainer = document.getElementById('qr-reader-results');
                      var lastResult, countResults = 0;
                      
                      var html5QrcodeScanner = new Html5QrcodeScanner(
                          "qr-reader", { fps: 10, qrbox: 250 });
                      
                      function onScanSuccess(decodedText, decodedResult) {
                          if (decodedText !== lastResult) {
                              ++countResults;
                              lastResult = decodedText;
                              console.log(`Scan result = ${decodedText}`, decodedResult);
                              var int_result = parseInt(decodedText)
                              var final_result = int_value + int_result
                              console.log(final_result)
                              document.getElementById("final_result").value = final_result
                              document.getElementById("result").innerHTML = final_result
                              resultContainer.innerHTML += `<div class="col-12"><h5 class="card-title text-center pb-0">This has a value of ${decodedText} reward points.</h5></div>`;
                              
                              $(document).ready(function(){

                                $.ajax({
                                type:'POST',
                                url:'/backlog',
                                data:{
                                  account_name:$('#account_name').val(),
                                  csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                                },
                                success: function(data){
                                  alert(data)
                                }
                                });
                              });


                              // Optional: To close the QR code scanning after the result is found
                              html5QrcodeScanner.clear();
                          }
                      }
                      
                      // Optional callback for error, can be ignored.
                      function onScanError(qrCodeError) {
                          // This callback would be called in case of qr code scan error or setup error.
                          // You can avoid this callback completely, as it can be very verbose in nature.
                      }
                      
                      html5QrcodeScanner.render(onScanSuccess, onScanError);
                  });
                  </script>

                  <div class="container">
                    <form id="QRresult">
                      {% csrf_token %}
                      
                      <input type="hidden" name="account_name" id="account_name" value="{{user.username}}"/>
                      <input type="hidden" name="final_result" id="final_result" value=""/>  <!-- Is this still needed? -->
                      <h5 class="card-title text-center pt-4 pb-2" name="account_name" id="account_name">You are currently logged in as "{{user.username}}"</h5><br>
                      
                      <div class="pb-2">
                        <div id="qr-reader" style="width:500px"></div>
                        <div id="qr-reader-results"></div>
                      </div>
                      

                      {% for rewardpoint in rewards_points %}
                        {% if rewardpoint.name == user.username %}

                        <script type="text/javascript">
                        var initial_value = '{{rewardpoint.value}}';
                        var int_value = parseInt(initial_value);
                        console.log(int_value);
                        </script>

                        <h5 name="initial_value" class="card-title" id="initial_value">Current Points: {{rewardpoint.value}}</h5>
                    
                        {% endif %}  
                      {% endfor %}
                      
                      <h5 class="card-title-personal"  name="final_result" id="final_result">Final Points: <span class="card-title" id="result"></span></h5>
              
                      <div class="text-center"><input type="submit" value="send"></div>
                      
                    </form>
                  </div>

                  <script type="text/javascript">
                    $(document).on('submit','#QRresult',function(e){
                      e.preventDefault();

                      $.ajax({
                        type:'POST',
                        url:'/send',
                        data:{
                            account_name:$('#account_name').val(),
                            final_result:$('#final_result').val(),
                          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(data){
                          alert(data)
                        }
                      });
                      //document.getElementById('names').value = ''
                    });
                  </script>
                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>