{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Reward Points Allocation</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="{% static 'font.css' %}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="row">
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="{% url 'root' %}" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'assets/img/logo.png' %}" alt="">
                  <span class="d-none d-lg-block">Reward Points Allocation</span>
                </a>
              </div>

              <div class="card mb-3">

                <div class="card-body">

                  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

                  {% if user.is_authenticated and user.is_superuser %} 
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Distribute Points Here</h5>
                    <p class="text-center small">Enter the Required Details</p>
                  </div>

                  {% for rewardpoint in rewards_points %}
                        {% if rewardpoint.name == user.username %}

                        <script type="text/javascript">
                            var initial_value = '{{rewardpoint.value}}';
                            var float_value = parseFloat(initial_value);
                            console.log(initial_value);
                        </script>
                        
                        {% endif %}  
                  {% endfor %}  

                  <script>
                    function process_reward() {
                      var float_spending = parseFloat(document.getElementById("spending").value)
                      var float_reward = float_spending * 0.1
                      var final_result = parseFloat(float_value + float_reward)
                      document.getElementById("final_result").value = final_result
                      $(document).ready(function(){
                        var reward_point_value="<h5 class='card-title text-center pb-0'>You gained " + float_reward +" Reward Point(s)</h5>"; 
                        $("#reward_point_value").append(reward_point_value);
                      })
                      console.log(float_spending)
                      console.log(float_reward)
                      console.log(final_result)
                      window.location.reload(true)
                    }
                  </script> 

                  <form class="row g-3" method="POST" id="QRresult">
                    {% csrf_token %}
                  
                    <input type="hidden" name="account_name" id="account_name" value="{{user.username}}"/>
                    <input type="hidden" name="final_result" id="final_result" value=""/> 
                    <!-- <h5 class="card-title text-center pt-4 pb-2" name="account_name" id="account_name">You are currently logged in as "{{user.username}}"</h5><br> -->
                      
                    <div class="col-12">
                      {% for allocation in allocationobject %}
                        <label for="yourReceiver" class="form-label">Receiver</label>
                        <input type="text" name="receiver" class="form-control" id="receiver" value="{{allocation.receiver}}" required> 
                      {% endfor %}
                    </div>

                    <div class="col-12">
                      <label for="yourReward" class="form-label">Grocery Spending</label>
                      <input type="number" step=".01" name="spending" class="form-control" id="spending" value="" required>
                    </div>

                    <div id="reward_point_value">

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit" onclick = "process_reward()">Process Reward Points</button>
                    </div>
                  </form>

                  <script type="text/javascript">
                    $(document).on('submit','#QRresult',function(e){
                      e.preventDefault();

                      $.ajax({
                        type:'POST',
                        url:'/send',
                        data:{
                            account_name:$('#account_name').val(),
                            final_result:$('#final_result').val(),
                          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(data){
                          alert(data)
                        }
                      });
                      //document.getElementById('names').value = ''
                    });
                  </script>

                  {% else %} 
                    <div class="pt-4 pb-2">
                      <h5 class="card-title text-center pb-0 fs-4">You Cannot Access This Page</h5>
                      <p class="text-center small">Only for Administrators only</p>
                    </div>
                  {% endif %}
                  
                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>